<span id="drawer"></span>
<div class="container  mt-2">
  <div class="offcanvas-header">
    <h5 class="m-2"><b><%= station.name.capitalize %></b></h5>






<button type="button" class="btn btn-primary rounded-pill go" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sign-turn-right-fill" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435ZM9 8.466V7H7.5A1.5 1.5 0 0 0 6 8.5V11H5V8.5A2.5 2.5 0 0 1 7.5 6H9V4.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L9.41 8.658A.25.25 0 0 1 9 8.466Z"></path>
  </svg>
    Go
</button>








<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">Navigate</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
























<div style="margin: 0 auto; display: block; text-align: center; rounded ">
  <a href="http://maps.apple.com/maps?q=<%=station.latitude%>,<%=station.longitude%>"><img src="https://www.apple.com/v/maps/d/images/overview/intro_icon__dfyvjc1ohbcm_large.png" width="75" height="75"
  alt="" style="margin: 8px;"></a>


  <a href="https://www.google.com/maps/place/<%=station.latitude%>,<%=station.longitude%>"><img src="https://i0.wp.com/originalapk.com/wp-content/uploads/2019/12/Google-Maps-Icon-Original-APK.png?fit=300%2C300&ssl=1" width="75" height="75" alt=""></a>

  <a href="https://waze.com/ul?q=<%=station.latitude%>,<%=station.longitude%>"><img src="https://www.digital-make-it.com/uploaded/136550/waze11-modifier-9343789100488398.png" width="80" height="80" alt=""></a>

</div>


</div>






  </div>
</div>









    <%# <span class="badge bg-primary">Available</span> %>
  </div>
    <% if !station.reviews.empty? %>
      <% note = 0 %>
      <% station.reviews.each do |review| %>
        <% note += review.rating  %>
      <% end %>
      <% average = note.fdiv((station.reviews).size) %>
    <% end %>
    <% if !average.nil? %>
      <h6 style="margin-left: 19px"><% average.to_i.times do  %>
            <i class='fa-sharp fa-solid fa-star' style="color: #ffcd3c;"></i>
          <% end %>
          <% (5 - average.to_i).times do %>
            <i class='fa-regular fa-star' style="color: #ffcd3c;"></i>
          <% end %>
          (<%= (station.reviews).size %>)
      </h6>
    <% end %>
  </div>
<p><%= station.address %></p>
<div class="d-flex justify-content-around align-items-center text-center">
    <% station.station_chargers.each do |station_charger| %>
      <li style="list-style: none">
        <div class="column m-auto" style="height: 45px;">
          <%= image_tag(station_charger.charger.ctype+".svg", style:"width:35px; height:35px")%>
        </div>
        <div style="height: 45px; ">
          <h6><span style="display: inline-block; min-width: 66px; font-size: 14px">
          <b><%= station_charger.charger.ctype%></b></span>
          <li style="font-size: 14px">
            <% if station_charger.charger.tethered? && station_charger.charger.ctype == "Type 2" %>
              Tethered
            <% end %>
          </li>
          <li style="font-size: 14px">
          <% if station_charger.charger.capacity % 1 == 0 %>
              <%= station_charger.charger.capacity.to_i %> kW x
            <% else %>
              <%= station_charger.charger.capacity %> kW x
          <% end %>
          <%= station_charger.charger_count %></li></h6>
        </div>
          </li>
    <% end %>
    </div>


  <br>
  <br>
  <br>
  <% if station.photo.key.nil? %>
    <%= image_tag "https://doc-04-a4-mymaps.googleusercontent.com/untrusted/hostedimage/sm8qmc4gucqmtv2n8d3g746lsc/k58foeocjlvtgok8gtgveloeog/1662900235750/JHdNRxuCceXe4dzVnCmOKym7Qn5qjH34/12207485209966916948/5AFzc1vZ2vMQfAZFnbBibNGHCpCAS9gYIa1Hz-620ep9aT2bOwfg5bDiSFx2kJZksOMuEuz7bXJwlq91rTByG1DvdXHZSteYJKUJ-vi8hDsiOK7ucU9TznD56N6s8P1Dme5F9-9et7t9vxh_3fvNwIHvEELyx7f2SHVoKzoQGbQFCLV8lKsSAKaU8aOkrjrVw45T9Rkw?session=0&fife=s16383", height: 200, width: 350, crop: :fill %>
  <% else %>
    <%= cl_image_tag station.photo.key, height: 200, width: 350,crop: :fill %>
  <% end %>
    <hr>
</div>
      <div class="text-center">
    <%= link_to "Leave a review", new_station_review_path(station)%>
<br>
    <br>
  <button class="btn btn-primary rounded-pill" id="showReviews" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    See reviews
  </button>
  <script>
  </script>
  </div>
<br>
<br>
<div class="collapse" id="collapseExample">
  <div class="card-body">
   <% if !station.reviews.empty? %>
  <% station.reviews.each do |review| %>


    <i class="fas fa-quote-left pe-2"></i><%= review.content %></i>
    <ul class="list-unstyled d-flex justify-content text-warning mb-0">
        <% review.rating.to_i.times do %>
          <li><i class="fas fa-star fa-sm"></i></li>
        <% end %>
        <% (5 - review.rating).to_i.times do %>
          <li><i class="far fa-star fa-sm"></i></li>
        <% end %>
      </ul>
    <%# <p class="mb-0"><b>Rating:</b><%= review.rating %>
    <% if review.photo.key? %>
      <%= cl_image_tag review.photo.key, height: 50, width: 50, crop: :fill %>
    <% end %>
    <hr>
  <% end %>
<% end %>
 </div>
</div>

</div>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
