<div id="<%= dom_id station %>">
  <p>
    <strong>Name:</strong>
    <%= station.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= station.address %>
  </p>

  <p>
    <strong>User:</strong>
    <%= station.user_id %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= station.review_id %>
  </p>

</div>
